body {
    overflow-y: overlay;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #ffc30077;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ffc300;
}