* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --navbar-height: 60px;

    --black: #000814;
    --dark-blue: #001d3d;
    --blue: #003566;
    --orange: #ffc300;
    --yellow: #ffd60a;
    --light-blue: #00d4ff;
    --pink: #ff00f0;
}

body {
    color: white;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none;
}

.orange {
    color: var(--orange);
}

.black-bg {
    background-color: var(--black);
}

.dark-blue-bg {
    background-color: var(--dark-blue);
    background-image: url("/images/darkblue.png");
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.wrapper {
    min-height: calc(100vh - var(--navbar-height));
    position: relative;
    padding: 5vh 6vw;
}

.about-content {
    display: inline-block;
    transition: transform 0.3s;
}

.about-content:hover {
    transform: scale(1.1);
}

.about-desc {
    padding-bottom: 30px;
}

.about-desc h3 {
    font-size: 3em;
}

.about-desc h4 {
    font-size: 1.2em;
    font-weight: normal;
}

.about-desc.l {
    border-left: 0.3em solid var(--orange);
    padding-left: 20px;
}

.about-desc.l .about-content {
    transform-origin: left center;
}

.about-desc.r {
    direction: rtl;
    border-right: 0.3em solid var(--orange);
    padding-right: 20px;
}

.about-desc.r .about-content {
    transform-origin: right center;
}

.contact {
    cursor: pointer;
    margin: 0 20px;
    transition: transform 0.3s, color 0.3s;
}

.contact:hover {
    color: var(--pink);
    transform: scale(1.1);
}

.contact-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    animation: slidein-from-left 0.5s ease-out;
}

.description .content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.description h1 {
    animation: color-animation 105s linear infinite;
    background-image: linear-gradient(90deg, rgba(255,0,240,1) 0%, rgba(0,212,255,1) 33%, rgba(255,255,0,1) 66%, rgba(255,0,240,1) 100%);
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 6vw;
    white-space: nowrap;
}

.description p {
    font-size: 1.5vw;
}

.education {
    background-color: var(--dark-blue);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s, background-color 0.3s;
    width: 21%;
}

.education:hover {
    background-color: var(--blue);
    transform: scale(1.05);
}

.education-content {
    display: flex;
    justify-content: space-between;
    padding-top: 4vh;
}

.education-content .school-picture img {
    width: 100%;
}

.education-description {
    padding: 10px 5px;
}

.education-title {
    padding: 10px 0;
}

.education-title .school-name {
    font-size: 1.5em;
    font-weight: 600;
}

.education-title .school-year {
    font-weight: 600;
}

.logo-desc {
    opacity: 0%;
    transition: opacity 0.2s;
}

.logo-desc-show {
    opacity: 100%;
}

.logo-text {
    color: var(--pink);
}

.logo-text:hover {
    color: var(--light-blue);
}

.logo-wrapper {
    font-size: 56px;
    margin-bottom: 60px;
    text-align: center;
}

.main-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 100vh;
    padding-top: 20px;
    padding-bottom: 0;
}

.navbar {
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
    height: var(--navbar-height);
    min-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar-menu {
    cursor: pointer;
    transition: transform 0.2s, color 0.2s;
}

.navbar-menu:hover {
    transform: scale(1.05);
}

.navbar-right li {
    cursor: pointer;
    display: inline-block;
    list-style: none;
    margin-left: 50px;
}

.note {
    text-align: center;
}

.picture {
    animation: slidein-from-right 0.5s ease-out;
}

.picture img {
    height: 100%;
}

.projects-content {
    -webkit-box-shadow: 0px 4px 9px 1px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 4px 9px 1px rgba(0,0,0,0.54);
    box-shadow: 0px 4px 9px 1px rgba(0,0,0,0.54);

    background-color: var(--blue);
    border-radius: 15px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    text-align: center;
    width: 55%;
    transition: all 0.3s;
}

.projects-content:hover {
    transform: scale(1.05);
}

.projects-content img {
    border-radius: 10px;
    width: 100%;
}

.project-description {
    padding-top: 1.5vh;
    font-size: 1.3em;
}

.projects-navigation {
    font-size: 4em;
    padding: inherit;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.projects-navigation i {
    cursor: pointer;
    transition: color 0.3s;
}

.projects-navigation i:hover {
    color: var(--pink);
}

.projects-navigation i:active {
    transform: scale(0.9);
}

.projects-navigation.l {
    left: 0;
}

.projects-navigation.r {
    right: 0;
}

.projects-wrapper {
    position: relative;
}

.scroll-down {
    animation: slidedown 2s ease-in-out infinite;
    cursor: pointer;
    font-size: 2.5em;
    opacity: 50%;
    position: absolute;
    bottom: 1%;
    left: 50%;
    text-align: center;
    transition: all 0.2s;
    -webkit-text-stroke: 0.1em var(--black);
}

.scroll-down:hover {
    color: var(--light-blue);
}

.title {
    font-size: 4em;
    font-weight: normal;
    margin-bottom: 40px;
    text-align: center;
}


.carousel-left {
    animation: carousel-left 0.6s ease-in-out;
}

.carousel-right {
    animation: carousel-right 0.6s ease-in-out;
}

@keyframes carousel-right {
    49% {
        opacity: 0%;
        transform: translate(-10%);
    }
    50% {
        opacity: 0%;
        transform: translateX(10%);
    }
    100% {
        opacity: 100%;
        transform: translateX(0%);
    }
}

@keyframes carousel-left {
    49% {
        opacity: 0%;
        transform: translate(10%);
    }
    50% {
        opacity: 0%;
        transform: translateX(-10%);
    }
    100% {
        opacity: 100%;
        transform: translateX(0%);
    }
}

@keyframes slidedown {
    0% {
        opacity: 0%;
        transform: translateX(-50%) translateY(-20%);
    }
    40% {
        opacity: 50%;
    }
    100% {
        opacity: 0%;
        transform: translateX(-50%) translateY(20%);
    }
}

@keyframes slidein-from-right {
    0% {
        opacity: 0%;
        transform: translateX(8%);
    }
    100% {
        opacity: 100%;
        transform: translateX(0);
    }
}

@keyframes slidein-from-left {
    0% {
        opacity: 0%;
        transform: translateX(-8%);
    }
    100% {
        opacity: 100%;
        transform: translateX(0);
    }
}

@keyframes color-animation {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

::selection {
    color: #0062d8;
}